<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cchsbyteclub.cchsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CCHS App</name>
    <description>
        An application for Cedar Crest High School developed by the Byte Club.
    </description>
    <author email="support@cchsbyteclub.com" href="http://www.cchsbyteclub.com">
        CCHS Byte Club
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
